.main-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px !important;
}

mat-card-title {
    text-align: center !important;
}

mat-card {
    width: 350px !important;
}

mat-list-item {
    border: 1px solid #3700b3 !important;
    cursor: pointer;
}

.hovered-item {
    background: #3700b3 !important;
    color: white !important;
}